# =============================================================================
# corpo-timesheet — Docker Environment Variables
# Вариант 1: PostgreSQL + Redis + RabbitMQ
# =============================================================================

# -----------------------------------------------------------------------------
# PHP / Backend
# -----------------------------------------------------------------------------
#PHP_FPM_PORT=11000
PHP_XDEBUG_MODE=develop,debug
PHP_XDEBUG_CLIENT_HOST=host.docker.internal
PHP_XDEBUG_CLIENT_PORT=9003

# -----------------------------------------------------------------------------
# Nginx
# -----------------------------------------------------------------------------
NGINX_PORT=11080

# -----------------------------------------------------------------------------
# PostgreSQL
# -----------------------------------------------------------------------------
POSTGRES_PORT=11432
POSTGRES_DB=corpo_timesheet
POSTGRES_USER=corpo
POSTGRES_PASSWORD=corpo_secret

# -----------------------------------------------------------------------------
# Redis
# -----------------------------------------------------------------------------
REDIS_PORT=11379
REDIS_PASSWORD=redis_secret

# -----------------------------------------------------------------------------
# RabbitMQ
# -----------------------------------------------------------------------------
RABBITMQ_PORT=11672
RABBITMQ_MANAGEMENT_PORT=11673
RABBITMQ_DEFAULT_USER=corpo
RABBITMQ_DEFAULT_PASS=rabbitmq_secret
RABBITMQ_DEFAULT_VHOST=corpo_timesheet

# -----------------------------------------------------------------------------
# MailHog
# -----------------------------------------------------------------------------
MAILHOG_SMTP_PORT=11025
MAILHOG_UI_PORT=11826

###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=7e245816c6c84c1d3b944e53d3fd125e
APP_SHARE_DIR=var/share
###< symfony/framework-bundle ###

###> symfony/routing ###
# Configure how to generate URLs in non-HTTP contexts, such as CLI commands.
# See https://symfony.com/doc/current/routing.html#generating-urls-in-commands
DEFAULT_URI="http://localhost:${NGINX_PORT}"
###< symfony/routing ###
