parameters:
    level: 6
    tmpDir: var/cache/phpstan
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    excludePaths:
        analyseAndScan:
            - var/*
            - docker/*
            - share/*
        analyse:
            - vendor/*
            - migrations/*
    checkExplicitMixed: true
    checkImplicitMixed: true
    checkMissingVarTagTypehint: true
    checkUninitializedProperties: true
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    ignoreErrors:
        # Doctrine proxy / lazy loading
        - '#Property .* might not be initialized#'
        # Doctrine ORM entities не используют конструкторы - Doctrine создает объекты через рефлексию
        - '#Class App\\.*\\Infrastructure\\Entity\\.* has an uninitialized property#'
        - '#Property App\\.*\\Infrastructure\\Entity\\.*::\$id .* is never assigned .* so it can be removed from the property type#'
        # Doctrine Repository @method теги наследуют generic array типы
        - '#Class App\\.*\\Infrastructure\\Repository\\Doctrine\\.* has PHPDoc tag @method for method .* with no value type specified in iterable type array#'
